{
  "extends": ["plugin:prettier/recommended"],

  "env": {
    "es6": true
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "generators": true
    }
  },

  "plugins": ["prettier"],

  "rules": {}
}
