{
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    }
  },
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "89",
          "firefox": "86"
        },
        "bugfixes": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["babel-plugin-styled-components", "@loadable/babel-plugin"]
}
